server {
    listen 80 default_server;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;


    location / {
        return 200 'Xin chao, day la Nginx :D Leu leu ${HOST_NAME}';
    }

    location /status {
        stub_status on;
        access_log off;
    }
}
